<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout.html :: html_head" />

<body>
	<div th:replace="layout.html :: menu" />
	<h3>New Employee Application Page</h3>
	<form action="#" th:action="@{/admin/employee/new}" th:object="${newEmployee}" method="post">
		<table>
			<tbody>
				<tr>
					<td><span th:text="#{fieldLabel.username}"></span></td>
					<td>
						<input type="text" th:field="*{username}" size="30" />
					</td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.password}"></span></td>
					<td>
						<input type="text" th:field="*{password}" rows="1" cols="30"/>
					</td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.annualLeaveEntitlement}"></span></td>
					<td>
						<textarea th:field="*{annualLeaveEntitlement}" rows="1" cols="30">
						</textarea>
					</td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.medicalLeaveEntitlement}"></span></td>
					<td>
						<textarea th:field="*{medicalLeaveEntitlement}" rows="1" cols="30">
						</textarea>
					</td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.compensationLeaveEntitlement}"></span></td>
					<td>
						<textarea th:field="*{compensationLeaveEntitlement}" rows="1" cols="30">
						</textarea>
					</td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.roleName}"></span></td>
					<td>
						<select name="roleId">
							<option value="staff">Staff</option>
							<option value="manager">Manager</option>
							<option value="admin">Admin</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.managerId}"></span></td>
					<td>
						<select name="managerId" th:field="*{managerId}">
							<option th:each="managerId : ${managersId}" th:value="${managerId}" th:text="${managerId}">
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" value="Create" class="blcass" />
						<input type="reset" value="Reset" class="blcass" onclick="this.form.reset();" />
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</body>