<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout.html :: html_head" />

<body>
	<div th:replace="layout.html :: menu" />
	<h2>View All Employees</h2>
	
	<div th:if="${#lists.isEmpty(Employees)}">
		<p>No Employee to view.</p>
	</div>
	<div th:if="${not #lists.isEmpty(Employees)}">
						<table style="border: 1;">
							<tr class="listHeading">
								<th th:utext="#{fieldLabel.userId}"></th>
								<th th:utext="#{fieldLabel.username}"></th>
								<th th:utext="#{fieldLabel.managerId}"></th>
								<th th:utext="#{fieldLabel.annualLeaveEntitlement}"></th>
								<th th:utext="#{fieldLabel.medicalLeaveEntitlement}"></th>
								<th th:utext="#{fieldLabel.compensationLeaveEntitlement}"></th>
								<th th:utext="#{fieldLabel.roleName}"></th>
							</tr>
							<tr class="listRecord" th:each="la : ${Employees}">
								<td align="left" th:text="${la.userId}"></td>
								<td align="left" th:text="${la.username}"></td>
								<td align="left" th:text="${la.managerId}"></td>
								<td align="left" th:text="${la.annualLeaveEntitlement}"></td>
								<td align="left" th:text="${la.medicalLeaveEntitlement}"></td>
								<td align="left" th:text="${la.compensationLeaveEntitlement}"></td>
								<td align="left" th:text="${la.role.name}"></td>
								<td><a th:href="@{/v1/admin/employee/edit/}+${la.userId}"th:method="get" class="btn btn-default">
									<span th:text="#{caption.edit}"></span></a>
								</td>
							</tr>
							<tr>
								<td>
									<a th:href="@{/v1/admin/employee/new}" th:method="get" class="btn btn-default">
    								<span th:text="#{caption.new}"></span></a>
								</td>
								</tr>
						</table>
	</div>
</body>
</html>
	