<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout.html :: html_head" />

<body>
	<div th:replace="layout.html :: menu" />
	<h3>Edit Employee Page</h3>
	<form action="#" th:action="@{/admin/employee/edit/} + ${editEmployee.userId}" th:object="${editEmployee}"
		method="post">
		<table>
			<tbody>
				<tr>
					<td>
						<input type="hidden" th:field="*{userId}" />
					</td>
				</tr>
				<tr>
					<td>
						<span th:text="'UserId: ' + ${editEmployee.userId.toString()}" />
					</td>
				</tr>
				<tr>
					<td>
						<span th:text="'User: ' + ${editEmployee.username}" />
					</td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.username}"></span></td>
					<td>
						<input type="text" th:field="*{username}" size="30" />
					</td>
				</tr>
				<tr>
					<td>
						<span th:text="'Password: ' + ${editEmployee.password}" />
					</td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.password}"></span></td>
					<td>
						<input type="text" th:field="*{password}" rows="1" cols="30"/>
					</td>
				</tr>
				<tr>
					<td>
						<span th:text="'ManagerId: ' + ${editEmployee.managerId.toString()}" />
					</td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.managerId}"></span></td>
					<td>
						<select name="managerId" th:field="*{managerId}">
							<option th:each="managerId : ${managersId}" th:value="${managerId}" th:text="${managerId}">
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<span
							th:text="'Annual Leave Entitlement: ' + ${editEmployee.annualLeaveEntitlement.toString()}" />
					</td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.annualLeaveEntitlement}"></span></td>
					<td>
						<textarea th:field="*{annualLeaveEntitlement}" rows="1" cols="30">
						</textarea>
					</td>
				</tr>
				<tr>
					<td>
						<span
							th:text="'Medical Leave Entitlement: ' + ${editEmployee.medicalLeaveEntitlement.toString()}" />
					</td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.medicalLeaveEntitlement}"></span></td>
					<td>
						<textarea th:field="*{medicalLeaveEntitlement}" rows="1" cols="30">
						</textarea>
					</td>
				</tr>
				<tr>
					<td>
						<span
							th:text="'Compensation Leave Entitlement: ' + ${editEmployee.compensationLeaveEntitlement.toString()}" />
					</td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.compensationLeaveEntitlement}"></span></td>
					<td>
						<textarea th:field="*{compensationLeaveEntitlement}" rows="1" cols="30">
						</textarea>
					</td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.roleName}"></span></td>
					<td>
						<select name="roleId">
							<option value="staff">Staff</option>
							<option value="manager">Manager</option>
							<option value="admin">Admin</option>
						</select>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" value="Update" class="blcass" />
						<input type="reset" value="Reset" class="blcass" onclick="this.form.reset();" />
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</body>

</html>