<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="html_head" id="html_head">
	<meta charset="ISO-8859-1">
	<title>Leave Application Processing System - LAPS</title>
	<link rel="stylesheet" th:href="@{/style.css}" />
</head>

<body>
	<div th:fragment="menu" id="menu">
		
		<!-- Navigation -->
		<nav class="navbar">
			<a th:href="@{/about}">Leave Application Processing System - LAPS</a>
			<a th:href="@{/home}">Home</a>
			<a th:href="@{/about}">About</a>

		</nav>
	</div>

	<div th:fragment="header" id="header">
		<div th:if="${not #strings.isEmpty(usession)}">
			<h2><em th:utext="'Hello ' + ${session.usession.user.name}"></em></h2>
		</div>
	</div>
</body>