<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="html_head" id="html_head">
	<meta charset="ISO-8859-1">
	<title>Leave Application Processing System - LAPS</title>
	<link rel="stylesheet" th:href="@{/style.css}" />
</head>

<body>
	<div th:fragment="menu" id="menu">

		<!-- Navigation -->
		<nav class="navbar">
			<a th:href="@{/about}">Leave Application Processing System - LAPS</a>
			<a th:href="@{/home}">Home</a>
			<a th:href="@{/about}">About</a>
			<div th:if="${session?.user?.username}">
				<div class="subnav">
					<button class="subnavbtn">Staff Menu <i class="fa fa-caret-down"></i></button>
					<div class="subnav-content">
						<a th:href="@{/staff/leave/list}" th:utext="#{menu.leaveList}">LeaveList</a>
						<a th:href="@{/staff/leave/new}" th:utext="#{menu.applyNew}">ApplyNew</a>
						<a th:href="@{/staff/claim/list}" th:utext="#{menu.claimList}">ClaimList</a>
						<a th:href="@{/staff/claim/new}" th:utext="#{menu.claimNew}">ClaimNew</a>
					</div>
				</div>
			</div>
			<div th:if="${session?.user?.username}">
				<div th:if="${session.user.role.roleId=='manager'}" class="subnav">
					<button class="subnavbtn">Manager Menu <i class="fa fa-caret-down"></i></button>
					<div class="subnav-content">
						<a th:href="@{/manager/view}" th:utext="#{menu.approve}"></a>
						<a th:href="@{/manager/history}" th:utext="#{menu.managerHistory}"></a>
					</div>
				</div>
			 
			 <div th:if="${session?.user?.username}">
			 	<div th:if="${session.user.role.roleId == 'admin'}">
            	 <div class="subnav">
             		 <button class="subnavbtn">Admin Menu <i class="fa fa-caret-down"></i></button>
              		 <div class="subnav-content">
                		<a th:href="@{/admin/role/list}" th:utext="#{menu.admin.rlist}">Roles</a>
               		    <a th:href="@{/admin/employee/list}" th:utext="#{menu.admin.elist}">Employees</a>               
              		</div>
            	</div>
          	</div>
			<div th:if="${session?.user?.username}" id="hiuser">
				<div class="subnav">
					<button class="subnavbtn">
						<i>
							<u th:text="'Hi, '+${session?.user?.username}" />
						</i>
					</button>
					<div class="subnav-content">
						<a th:href="@{/logout}" th:utext="#{menu.logout}">logout</a>
					</div>
				</div>
			</div>
		</nav>
	</div>
</body>