<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout.html :: html_head" />

<body>
	<div th:replace="layout.html :: menu" />
	<h2>Process Leave Application</h2>

	<table>
		<tr>
			<td><span th:utext="#{fieldLabel.leaveApplicationId}"></span></td>
			<td><span th:text="${la.id}"></span></td>
		</tr>
		<tr>
			<td><span th:utext="#{fieldLabel.user}"></span></td>
			<td><span th:text="${la.user.username}"></span></td>
		</tr>
		<tr>
			<td><span th:utext="#{fieldLabel.type}"></span></td>
			<td><span th:text="${la.type}"></span></td>
		</tr>
		<tr>
			<td><span th:utext="#{fieldLabel.description}"></span></td>
			<td><span th:text="${la.description}"></span></td>
		</tr>
		<tr>
			<td><span th:utext="#{fieldLabel.startDate}"></span></td>
			<td><span th:text="${#temporals.format(la.fromDate, 'yyyy-MM-dd')}"></span></td>
		</tr>
		<tr>
			<td><span th:utext="#{fieldLabel.endDate}"></span></td>
			<td><span th:text="${#temporals.format(la.toDate, 'yyyy-MM-dd')}"></span></td>
		</tr>
		<tr>
			<td><span th:utext="#{fieldLabel.status}"></span></td>
			<td><span th:text="${la.status}"></span></td>
		</tr>
	</table>
	
	<form action="#" th:action="@{/manager/process/}+${la.id}" method="post">
    <table>
      <tr>
        <td>
          <fieldset>
            <input type="radio" name="decision" th:value="APPROVED" />
            <label th:text="#{caption.approve}"></label> &nbsp;&nbsp; 
            <input type="radio" name="decision" th:value="REJECTED" /> 
            <label th:text="#{caption.reject}"></label>
          </fieldset>
        </td>
      </tr>
      <tr>
        <td>
          <fieldset>
            <input th:type="submit" th:value="Update" class="blcass" />
          </fieldset>
        </td>
      </tr>
    </table>

  </form>
</body>

</html>