<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout.html :: html_head" />

<body>
	<div th:replace="layout.html :: menu" />
	<h2>Your Leave Application History</h2>

	<div th:if="${#lists.isEmpty(laList)}">
		<p>You have no Leave Applications. Start applying a new one.</p>
	</div>

	<div th:if="${not #lists.isEmpty(laList)}">
		<table style=" border: 1;">
			<tr class="listHeading">
				<th><span th:text="#{fieldLabel.user}"></span></th>
				<th><span th:text="#{fieldLabel.type}"></span></th>
				<th><span th:text="#{fieldLabel.description}"></span></th>
				<th><span th:text="#{fieldLabel.startDate}"></span></th>
				<th><span th:text="#{fieldLabel.endDate}"></span></th>
				<th><span th:text="#{fieldLabel.status}"></span></th>
				<th><span th:text="#{fieldLabel.update}"></span></th>
				<th><span th:text="#{fieldLabel.cancel}"></span></th>
			</tr>
			<tr th:each="la: ${laList}" class="listRecord">
				<td align="left" th:text="${la.user.username}">username</td>
				<td align="left" th:text="${la.type}">type</td>
				<td align="left" th:text="${la.description}">description</td>
				<td align="left" th:text="${#temporals.format(la.fromDate, 'yyyy-MM-dd')}">From</td>
				<td align="left" th:text="${#temporals.format(la.toDate, 'yyyy-MM-dd')}">To</td>
				<td align="left" th:text="${la.status}">Status</td>
				<td>
					<div th:switch="${la.status.toString()}">
						<a th:case="'APPLIED'" th:href="@{/v1/staff/leave/edit/}+${la.id}">Update</a>
						<a th:case="'UPDATED'" th:href="@{/v1/staff/leave/edit/}+${la.id}">Update</a>
						<span th:case="*"> --- </span>
					</div>
				</td>
				<td>
					<div>
						<a th:if="${la.status.toString() == 'APPLIED' || la.status.toString() == 'UPDATED'}" th:href="@{/v1/staff/leave/cancel/}+${la.id}">Cancel</a>
    					<a th:if="${la.status.toString() == 'APPROVED' && la.fromDate.isAfter(currentDate) && la.toDate.isAfter(currentDate)}"  th:href="@{/v1/staff/leave/cancel/}+${la.id}">Cancel</a>
    					<span th:if="${la.status.toString() != 'APPLIED' && la.status.toString() != 'UPDATED' && !(la.status.toString() == 'APPROVED' && la.fromDate.isAfter(currentDate))}">---</span>
					</div>
				</td>
			</tr>
		</table>
	</div>
</body>

</html>