<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout.html :: html_head" />

<body>
	<div th:replace="layout.html :: menu" />
	<h2>Your Compensation Claim History</h2>

	<div th:if="${#lists.isEmpty(ccList)}">
		<p>You have no Compensation Claims. Start applying a new one.</p>
	</div>

	<div th:if="${not #lists.isEmpty(ccList)}">
		<table style=" border: 1;">
			<tr class="listHeading">
				<th><span th:text="#{fieldLabel.user}"></span></th>
				<th><span th:text="#{fieldLabel.description}"></span></th>
				<th><span th:text="#{fieldLabel.overtimeDate}"></span></th>
				<th><span th:text="#{fieldLabel.overtimeTime}"></span></th>
				<th><span th:text="#{fieldLabel.status}"></span></th>
				<th><span th:text="#{fieldLabel.update}"></span></th>
				<th><span th:text="#{fieldLabel.cancel}"></span></th>
			</tr>
			<tr th:each="cc: ${ccList}" class="listRecord">
				<td align="left" th:text="${cc.user.username}">username</td>
				<td align="left" th:text="${cc.description}">description</td>
				<td align="left" th:text="${#temporals.format(cc.overTimeDate, 'yyyy-MM-dd')}">From</td>
				<td align="left" th:text="${cc.overtimeTime}">To</td>
				<td align="left" th:text="${cc.status}">Status</td>
				<td>
					<div th:switch="${cc.status.toString()}">
						<a th:case="'APPLIED'" th:href="@{/staff/claim/edit/}+${cc.id}">Update</a>
						<a th:case="'UPDATED'" th:href="@{/staff/claim/edit/}+${cc.id}">Update</a>
						<span th:case="*"> --- </span>
					</div>
				</td>
				<td>
					<div th:switch="${cc.status.toString()}">
						<a th:case="'APPLIED'" th:href="@{/staff/claim/cancel/}+${cc.id}">Cancel</a>
						<a th:case="'UPDATED'" th:href="@{/staff/claim/cancel/}+${cc.id}">Cancel</a>
						<span th:case="*"> --- </span>
					</div>
				</td>
			</tr>
		</table>
	</div>
</body>

</html>