<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout.html :: html_head"/>
<body>
  <div th:replace="layout.html :: menu"/>
  <div th:replace="layout.html :: header"/>   
    <h3>New Leave Application Page</h3>
  <form action="#" th:action="@{/staff/leave/create}"
    th:object="${leaveApplication}" method="post">
    <table>
      <tbody>
        <tr>
          <td><span th:text="#{fieldLabel.type}"></span></td>
          <td>
			  <select name="type">
				  <option th:each="type : ${leaveTypes}" th:text="${type}">
				  </option>
			  </select>
		  </td>
          <td th:if="${#fields.hasErrors('type')}"
            th:errors="*{type}"></td>
        </tr>
        <tr>
          <td><span th:text="#{fieldLabel.startDate}"></span></td>
          <td><input type="date" th:value="*{fromDate}" th:field="*{fromDate}"  /></td>
          <td th:if="${#fields.hasErrors('fromDate')}"
            th:errors="*{fromDate}"></td>
        </tr>
        <tr>
          <td><span th:text="#{fieldLabel.endDate}"></span></td>
          <td><input type="date" th:value="*{toDate}" th:field="*{toDate}" /></td>
          <td th:if="${#fields.hasErrors('toDate')}" th:errors="*{toDate}"></td>
        </tr>
        <tr>
          <td><span th:text="#{fieldLabel.description}"></span></td>
          <td><input type="text" th:field="*{description}" size="20" /></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Create" class="blcass" />
            <input type="reset" value="Reset" class="blcass" />
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</body>
</html>
