<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout.html :: html_head" />

<body>
	<div th:replace="layout.html :: menu" />
	<h3>Edit Leave Application Page</h3>
	<form action="#" th:action="@{/staff/leave/edit/} + ${leaveApplication.id}" th:object="${leaveApplication}"
		method="post">
		<table>
			<tbody>
				<tr>
					<td>
						<input type="hidden" th:field="*{id}" />
						<input type="hidden" th:field="*{user}" />
						<input type="hidden" th:field="*{status}" />
					</td>
				</tr>
				<tr>
					<td>
						<span th:text="'ID: ' + ${leaveApplication.id.toString()}" />
					</td>
				</tr>
				<tr>
					<td>
						<span th:text="'User: ' + ${leaveApplication.user.username}" />
					</td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.type}"></span></td>
					<td>
						<select name="type">
							<option th:each="type : ${leaveTypes}" th:text="${type}">
							</option>
						</select>
					</td>
					<td th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.startDate}"></span></td>
					<td><input type="date" th:value="*{fromDate}" th:field="*{fromDate}" /></td>
					<td th:if="${#fields.hasErrors('fromDate')}" th:errors="*{fromDate}"></td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.endDate}"></span></td>
					<td><input type="date" th:value="*{toDate}" th:field="*{toDate}" /></td>
					<td th:if="${#fields.hasErrors('toDate')}" th:errors="*{toDate}"></td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.description}"></span></td>
					<td>
						<textarea th:field="*{description}" rows="5" cols="30">
    						description of the leave
						</textarea>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" value="Update" class="blcass" />
						<input type="reset" value="Reset" class="blcass" onclick="this.form.reset();"/>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</body>

</html>